<html lang='en' ng-app='app'>

<head>
  <script src ='https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js'></script>
  <script src="bower_components/angular-route/angular-route.js"></script>
  <script src='app.js'></script>
  <link rel='stylesheet' type='text/css' href='bower_components/bootstrap/dist/css/bootstrap.min.css'>
  <link rel="stylesheet" type="text/css" href="styles/bootstrap.css"/>
</head>

<body ng-controller="MainController">
  <div class='container'>
    <div class="header">
      <h1>My Food Finder</h1>
    </div>

    <div class='col-md-6 col-md-offset-3 form-group'>
      <div class="input-group">
        <input type="text" class="form-control food-input" placeholder="New food" ng-model="newFood">
        <span class="input-group-btn">
          <button class ="btn btn-default" type="button" ng-click="displayFoods(newFood); checkClick()" >Select</button>
        </span>
      </div>
    </div>

    <div class='box col-md-6 col-md-offset-3'>
      
      <div>
        <ul> <!-- ng-controller="MainController">-->
          <span ng-show='click' ng-click='checkClick()'>
            <p class='search-results' ng-repeat="food in searchItems" ng-click="showFoodInfo(food.ndbno)"> {{ food.name }} </p> 
          </span>
        </ul>

        <div class = "nutritionalValue "ng-hide="click">
          <p>Calories: {{thisFood.calories}}</p>
          <p>Fat: {{thisFood.fat}}</p>
          <p>Sugar: {{thisFood.sugar}}</p>
          <p>Protein: {{thisFood.protein}} </p>
          <p>Carbohydrates: {{thisFood.carbs}} </p>
          <p>Protein: {{thisFood.fiber}} </p>   
        </div>
      </div>
    </div>
  </div>
</body>

</html>







  <!--API KEY     kKJ078H1u9KjuD4DLAJK3nPUgFX4SoN2awG94IeR -->

  <!-- https://api.data.gov/nrel/alt-fuel-stations/v1/nearest.json?api_key=kKJ078H1u9KjuD4DLAJK3nPUgFX4SoN2awG94IeR&location=Denver+CO -->